spring:
  application:
     name: WhatsAppClone
     file:
       uploads:
         media-output-path: ./uploads

  datasource:
    url: jdbc:postgresql://localhost:5433/whatsapp_clone
    username: postgres
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: false

  security:
    oauth2:
      resourceserver:
          jwt:
            issuer-uri: "http://localhost:8180/realms/WhatsClone"


  servlet:
    multipart:
      enabled: true          # Enable or disable multipart support
      max-file-size: 50MB
springdoc:
  default-produces-media-type: application/json


server:
  port: 7878

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG


